body {
  background-color: #ffff;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 10px;
  text-align: center;
  .container {
    padding: 30px;
    h1 {
      text-transform: uppercase;
    }
    .mb-0 {
      margin-bottom: 0;
    }
    .pb-40 {
      padding-bottom: 40px
    }
    .pb-60 {
      padding-bottom: 60px
    }
    .mt-50 {
      margin-top: 50px;
    }
    .pictures-screen {
      img {
        width: 35%;
        height: 600px;
      }
    }
    .flex {
      display: flex;
      justify-content: space-around;
    }
    .sous-bloc.punchline {
      font-size: 30px;
      .important {
        font-size: 70px !important;
        text-transform: uppercase;
        margin-top: 0;
      }
    }
    .bloc-explain {
      text-align: left;
    }
  }
  .contact {
    width: 5%;
  }
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}
