<div class="container">
  <div class="bloc-text bold">
    <p>Avec Etogs, on est bien décidés à vous premettre d’être mieux averti sur tous les vêtements que vous portez. Tant sur l’impact écologique et environnemental de leur fabrication que sur les conditions de travail sur toute la chaîne de production de vos articles.</p>
  </div>

  <div class="sous-bloc punchline">
    <p>Comment ça marche ?</p>
  </div>

  <div class="bloc-explain">
    <p>1. J’ouvre l’application</p>
    <p>2. Je scanne le code barre de mon article</p>
    <p>3. J’accède instantanément aux informations de mon article</p>
  </div>

  <div class="sous-bloc punchline">
    <h1>Easy</h1>
  </div>

  <div class="pictures-screen pb-40 flex">
    <img src="images/1st-ecran.png" alt="first ecran">
    <img src="images/2nd-ecran.png" alt="second ecran">
  </div>
  <%= link_to "back", "/index.html", class: "btn btn-danger" %>
</div>
