<div class="container">
  <div class="explain-appli">
    <p>Si votre article n’est pas encore présent dans notre base de données, vous pouvez le créer vous-même ! Via un simple formulaire après avoir scanné l’article.</p>
    <p>Il sera alors disponible pour les futurs utilisateurs.</p>

    <p>Autres options disponibles : Je peux sauvegarder dans mon dressing mes articles favoris et voir l’impact global de mon dressing.</p>
    <p>Je peux donner un avis qualité sur les articles de mon choix et aussi voir les avis des autres utilisteurs.</p>
    <p>Je vois la note de l’article et la note attribuée par les consommateurs.</p>
    <p>Des alternatives produits me sont proposées, pour choisir un article similaire ayant une meilleure note !</p>
  </div>
  <%= link_to "back", "/index.html", class: "btn btn-danger" %>
</div>
