<div class="container_site">
  <div class="img_logo">
    <% link_to 'index' do %>
    <%= image_tag 'logo_etogs.jpeg' %>
    <% end %>
  </div>
  <div class="projet">
    <h1>L'écologie ça passe aussi par ce que l'on porte sur le dos, pas vrai ?</h1>
    <h2>Alors...Prêts à découvrir Etogs ?</h2>
    <div class="link_projet">
      <%= link_to 'C\'est par ici!', '/projet.html', :relative => true %>
    </div>
  </div>
</div>
