<div class="container">
  <img src="images/logo-etogs.png" alt="">
  <h1>
    Sais-tu vraiment ce que tu portes ?
  </h1>
  <div class="bloc-text pb-40">
    <p>« L’industrie textile est la 2ème industrie la plus polluante, après l’industrie du pétrole. »</p>

    <p>« 70% des cours d’eau en Chine sont pollués à cause de l’industrie textile »</p>

    <p>« 70 millions de barils d’essence sont nécessaires pour la production de polyester chaque année »</p>

    <p>« 2 500 litres d’eau sont utilisés pour fabriquer un tee-shirt de 250 grammes »</p>

    <p>« 12 kilos de vêtements sont jetés tous les ans par chaque français »</p>

    <p>« On ne porte même pas le tiers des vêtements présents dans notre dressing »</p>

    <p>Etc. Etc. Etc.</p>
  </div>
  <div class="sous-bloc punchline pb-40">
    <p class="mb-0">Eh oui, ça fait</p>
    <p class="important">flipper</p>
  </div>
  <%= link_to "back", "/index.html", class: "btn btn-danger" %>
</div>
