<div class="container">
  <div class="sous-bloc">
    <p>Si le projet vous plaît (ou non d’ailleurs) et/ou que vous avez des idées à apporter, rendez-vous juste en dessous pour répondre à notre QUESTIONNAIRE !</p>
    <p>PROMIS, ce sera rapide ! Et ça nous sera d’une grande aide pour améliorer notre produit et pouvoir rapidement vous proposer une appli au top pour vos futurs achats!</p>
    <p>En attendant, vous pouvez déjà tester notre première version sur votre portable ici : http://www.etogs.club</p>
  </div>
  <div class="sous-bloc bold">
    <p>Thanks you !</p>
  </div>
  <%= link_to "back", "/index.html", class: "btn btn-danger" %>
</div>
