<div class="container">
  <div class="picture">
    <p>photo étiquette</p>
  </div>

  <div class="bloc-text pb-40">
    <p>Oui, oui. Il s’agit bien des seules informations que l’on a sur nos fringues, sapes, fripes, guenilles …</p>
    <p class="uppercase">et encore</p>
    <p>Toutes ne sont pas obligatoires.</p>
    <p>Alors nous sommes dans le flou, on ne sait que très rarement vraiment ce que l’on achète et ce que l’on porte.</p>
  </div>
  <div class="bloc-text pb-60">
    <p>D’où viennent les matières ?</p>
    <p>Qui les a ramassées, assemblées, cousues, teintes ?</p>
    <p>Et dans quelles conditions ?</p>
    <p>Combien de kms a voyagé mon produit pour arriver jusqu’ici ?</p>
    <p>Est-ce que ce tee-shirt a consommé l’équivalent de 50 douches pour être fait ?</p>
  </div>
  <%= link_to "back", "/index.html", class: "btn btn-danger" %>
</div>
